NEXT_PUBLIC_RPC_URL=https://rpc-testnet.supra.com
NEXT_PUBLIC_CHAIN_ID=6
NEXT_PUBLIC_EXPLORER_URL=https://testnet.suprascan.io
NEXT_PUBLIC_CONTRACT_ADDRESS=0xdce3ff2e6370630f906774423d2504d2f278908a5addebd691a7c2d892e1594a

# Backend API (local: http://localhost:3001, production: your deployed URL)
NEXT_PUBLIC_API_URL=http://localhost:3001
